
div.body{
    width: 30%;
    height: 470px;
    background-color: rgba(198, 198, 198, 0.07);
    margin: 10px auto 10px auto;
    padding: 10px;
}

div#title {
    height: 40px;
}

div#display {
    height: 100px;
    background-color: #c6c6c6;
}

div#keyboard {
    margin: 0px;
    height: 410px;
}

p#calculator {
    font-family: Arial;
    font-size: 120%;
    text-align: left;
    padding: 6px;
    margin: 0px;
}

td{
    font-family: Arial;
    float: left;
    margin: 0px;
    font-size: 120%;
    border: 0px;
    padding: 0px;
    width: 98px;
    height: 60px;
    padding: 0px;
    text-align: center;
    font-size: 200%;
    background-color: rgba(198, 198, 198, 0.07);
}
td:hover{
    color: rgba(166, 166, 166, 0.33);
}
table {
    margin: 10px auto 10px auto;
}

table.content {
    margin: 0px;
    background-color: white;
    width: 100%;
    height: 100%;
}

td#monitor, td#result{
    background-color: white;
    width: 100%;
    height: 50%;
    color: black;
    text-align: right;
    font-size: 20px;
}
