#layout {
    background-color: white;
    overflow: auto;
}

table {
    border-collapse: collapse;
    background-color: white;
    overflow: auto;
}

td>div{
    width: 53px;
    height: 20px;
    margin: 0px;
    position: relative;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 0px;
    text-align: center;
}

td.cell {
    background-color: white;
    overflow: hidden;
}


td.columnHeader, td.rowHeader {
    background-color: #e6e6e6;
    user-select: none;
}

td.columnHeader:hover, td.rowHeader:hover{
    background-color: #94bba4;
}




div.menu > table {
    margin: 0px;
    border: thin solid #808080;
    cursor: default;
    background-color: white;
    font-family: Arial;
    font-size: 4px;
    position: absolute;
    z-index: 1;
}
tr > button {
    width: 50px;
    height: 20px;
    text-align: center;
    background-color: white;
}

tr.rowHeader:hover {
    background-color: #d8d7d4;
}

div.lineDiv {
    width: 15px;
    height: 20px;
    float: right;
    position: absolute;
    right: -8px;
    top: 0px;
    display: inline;
    z-index: 1;
}

div.lineDiv:after {
    content: '';
    margin: 0px;
    width: 0px;
    height: 20px;
    position: absolute;
    border-left: 1px solid #94bba4;
}

div.lineDiv:hover {
    background-color: #5b5b69;
}

div.selected {
    border: 0px solid cornflowerblue;
    position: absolute;
    z-index: 1;
}