/**
 * The container style for layout
 */

div#container {
    background-color: white;
    position: relative;
}

div#myTable {
    width: 800px;
    height: 1000px;
    background-color: white;
    overflow: auto;
    white-space: nowrap;
}
div.cell {
    width: 53px;
    height: 20px;
    margin: 0px;
    position: relative;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    display: inline-block;
    padding: 0px;
    vertical-align: top;

}

div.tr{
    overflow: visible;
    display: block;
}

/**
 * The style of row header and column header
 */

.rowHeader,
.columnHeader {
    width: 53px;
    height: 20px;
    background-color: #e6e6e6;
    user-select: none;
    text-align: center;
    display: inline-block;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
    vertical-align: top;
}


/**
 * The style after hover
 */

.rowHeader:hover,
.columnHeader:hover {
    background-color: #94bba4;
}




/**
* The input element was selected
**/

.selected {
    border: 0px solid cornflowerblue;
    position: absolute;
    z-index: 1;
}


/**
 * The vertical div for move
 */

.verticalDiv {
    width: 15px;
    height: inherit;
    position: absolute;
    right: -7px;
    top: 0px;
    z-index: 1;
}


/**
 * The style after vertical div
 */

.verticalDiv:after {
    content: '';
    margin: 0px;
    width: 0px;
    height: 20px;
    position: absolute;
    border-left: 1px solid #94bba4;
}


/**
 * The style all about horizontal div
 */

div.horizontalDiv {
    width: inherit;
    height: 12px;
    position: absolute;
    left: 0;
    bottom: -6px;
    z-index: 1;
}

.horizontalDiv:after {
    content: '';
    margin: 0px;
    width: 53px;
    height: 0px;
    position: absolute;
    bottom: 5px;
    left: 0px;
    border-top: 1px solid #94bba4;
}

.horizontalDiv.selected,
.verticalDiv.selected {
    border: 0px solid cornflowerblue;
    position: absolute;
    z-index: 1;
}

.horizontalDiv:hover,
.verticalDiv:hover {
    background-color: #5b5b69;
}


/**
 * The menu option
 */

button.option {
    width: 50px;
    border: 1px solid #d9d9d9;
    padding: 0px;
    margin: 0px;
    display: block;
    background-color: white;
}

.option:hover{
    background-color: #d9d9d9;
}

/**
 * The menu to  manipulate the excel
 */

div.menuLayout {
    margin: 0px;
    border: thin solid #808080;
    cursor: default;
    background-color: white;
    font-family: Arial;
    font-size: 4px;
    position: absolute;
    box-shadow: 0px 0px 5px 0px #6D6B75;
    z-index: 99;
}
