<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Awesome Calculate</title>
	<link rel="stylesheet" type="text/css" href="../css/awesome-calculator.css">
</head>
<body>
<div class="body">
	<div id="title">
		<p id="calculator">计算器</p>
	</div>
	<div id="display">
		<table class="content">
			<tr>
				<td id="monitor"></td>
			</tr>
			<tr>
				<td id="result"></td>
			</tr>
		</table>
	</div>
	<div id="keyboard">
		<table>
			<tr>
					<td onclick="appendContent(this)">(</td>
					<td onclick="appendContent(this)">)</td>
					<td onclick="appendContent(this)">DEL</td>
					<td onclick="appendContent(this)">/</td>
			</tr>
			<tr>
					<td onclick="appendContent(this)">7</td>
					<td onclick="appendContent(this)">8</td>
					<td onclick="appendContent(this)">9</td>
					<td onclick="appendContent(this)">*</td>
			</tr>
			<tr>
					<td onclick="appendContent(this)">4</td>
					<td onclick="appendContent(this)">5</td>
					<td onclick="appendContent(this)">6</td>
					<td onclick="appendContent(this)">-</td>
			</tr>
			<tr>
					<td onclick="appendContent(this)">1</td>
					<td onclick="appendContent(this)">2</td>
					<td onclick="appendContent(this)">3</td>
					<td onclick="appendContent(this)">+</td>
			</tr>
			<tr>
					<td onclick="appendContent(this)">CLR</td>
					<td onclick="appendContent(this)">0</td>
					<td onclick="appendContent(this)">.</td>
					<td onclick="appendContent(this)">=</td>
			</tr>
		</table>
	</div>
</div>
<script type="text/javascript" src="../awesome-calculate.js"></script>
</body>
</html>